In [36]:
import pandas as pd
import numpy as np

df = pd.read_csv("./data/lending_club_2020_train_small_original.csv")

# predicted_y 칼럼에 값이 존재하는 row만 선택하여 df에 다시 저장
df = df[df['predicted_y'].notna()]

In [3]:
df.head(30)

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
0,124989905,6000.0,6000.0,6000.000000,36 months,7.97%,187.94,A,A5,Teacher,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,139665484,35000.0,35000.0,35000.000000,60 months,14.47%,822.95,C,C2,Product Specialist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,84253847,23200.0,23200.0,23200.000000,60 months,24.99%,680.82,E,E4,Production Foreman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
3,126296074,4500.0,4500.0,4500.000000,36 months,9.93%,145.06,B,B2,Office Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,148913312,15000.0,15000.0,15000.000000,36 months,16.40%,530.33,C,C4,Secretary,...,May-2020,Jul-2020,May-2020,2.0,0.0,ACTIVE,413.83000,11025.25,54.62,N
5,119708428,16000.0,16000.0,16000.000000,36 months,7.07%,494.55,A,A2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
6,109906493,4500.0,4500.0,4500.000000,36 months,10.42%,146.10,B,B3,Team Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
7,60286250,20000.0,20000.0,20000.000000,36 months,9.99%,645.25,B,B3,teacher,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
8,151871973,19000.0,19000.0,18999.739941,60 months,17.97%,482.17,D,D1,Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9,152325146,35000.0,35000.0,35000.000000,36 months,8.19%,1099.85,A,A4,Chief Financial Officer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
10,165947976,16000.0,16000.0,16000.000000,60 months,13.08%,364.71,B,B5,Assistant terminal manager 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
11,163462717,10000.0,10000.0,10000.000000,36 months,14.30%,343.24,C,C1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
12,91934591,30000.0,30000.0,30000.000000,36 months,19.99%,1114.76,D,D4,Lab Technician,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
13,144913775,16000.0,16000.0,16000.000000,60 months,10.33%,342.56,B,B1,Proffesional Driver,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
14,141302258,6025.0,6025.0,6025.000000,36 months,8.46%,190.09,A,A5,Real Estate Closer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
15,119270540,16000.0,16000.0,16000.000000,36 months,13.59%,543.67,C,C2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
16,95487169,15000.0,15000.0,15000.000000,36 months,17.99%,542.22,D,D2,New Accounts Representative,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
17,26220253,1000.0,1000.0,1000.000000,36 months,18.24%,36.28,D,D5,Outreach Specialist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
18,13177974,5000.0,5000.0,5000.000000,36 months,11.99%,166.05,B,B3,Driver,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
19,118234585,15000.0,15000.0,15000.000000,36 months,10.42%,486.98,B,B3,Customer Care Specialist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
20,149338640,12500.0,12500.0,12475.000000,60 months,16.40%,306.64,C,C4,Senior Consultant,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
21,166313181,10625.0,10625.0,10625.000000,36 months,8.81%,336.94,A,A5,Installs supervisor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
22,113409365,25000.0,25000.0,25000.000000,36 months,7.35%,775.94,A,A4,Region VP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
23,49874090,35000.0,35000.0,34975.000000,60 months,12.69%,790.82,C,C2,Network Engineer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
24,113876286,4500.0,4500.0,4500.000000,36 months,7.07%,139.10,A,A2,Retention specialist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
25,27661825,22975.0,22975.0,22975.000000,60 months,10.15%,489.85,B,B2,benefit service manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
26,80791626,26000.0,26000.0,26000.000000,36 months,13.67%,884.46,C,C3,Field Clinical Specialist 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
27,123614722,5000.0,5000.0,5000.000000,36 months,17.09%,178.49,D,D1,Sr. Spares Materials Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
28,58662334,27000.0,27000.0,26975.000000,60 months,17.86%,683.57,D,D5,Physician Assistant,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
29,157567972,35000.0,35000.0,35000.000000,60 months,10.33%,749.35,B,B1,Office Mgr.,...,NaN,NaN,NaN,NaN,NaN,NaN,794.33874,30802.65,749.35,N

### 만기 36개월과 60개월을 나누기

In [37]:
# term 컬럼 값에 혹시 공백이 있다면 제거(필요할 경우)
df['term'] = df['term'].str.strip()  # 예: ' 36 months' -> '36 months'

# term이 '36 months'인 행만 추출하고 term 컬럼은 드롭
df_36 = df[df['term'] == '36 months'].drop('term', axis=1)

# term이 '60 months'인 행만 추출하고 term 컬럼은 드롭
df_60 = df[df['term'] == '60 months'].drop('term', axis=1)

statuses_to_keep = ['Fully Paid', 'Charged Off', 'Default']
df_36 = df_36[df_36['loan_status'].isin(statuses_to_keep)]
df_60 = df_60[df_60['loan_status'].isin(statuses_to_keep)]

In [38]:
df_36['loan_status'].value_counts()

loan_status
Fully Paid     944
Charged Off    216
Default          1
Name: count, dtype: int64

In [39]:
df_60['loan_status'].value_counts()

loan_status
Fully Paid     238
Charged Off     98
Name: count, dtype: int64

### 개별 만기에 대한 수익률 구하기

In [12]:
pip install numpy_financial

Requirement already satisfied: numpy_financial in /opt/anaconda3/lib/python3.12/site-packages (1.0.0)
Requirement already satisfied: numpy>=1.15 in /opt/anaconda3/lib/python3.12/site-packages (from numpy_financial) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [40]:
import numpy_financial as npf
import pandas as pd

def calculate_actual_irr(row, n_months):
    """
    대출 상태에 따라 실제 IRR(연환산)을 계산합니다.
    
    - Fully Paid:
        현금흐름 = [-loan_amnt, installment, installment, ..., installment] (총 n_months회 지급)
    - Charged Off / Default:
        지급 횟수 p를 정기 상환금과 총 지급액으로 근사:
            p ≈ total_pymnt / installment
        현금흐름:
            초기: -loan_amnt
            중간: installment가 p-1회 지급
            마지막: installment와 recoveries(회수액)가 합산되어 지급
        
    매개변수:
        row: DataFrame의 한 행 (대출 정보)
        n_months: 대출 만기 (예: 36 또는 60)
    
    반환:
        연환산 IRR (float) 또는 계산 불가 시 None
    """
    loan_amnt = row['loan_amnt']
    status = row['loan_status']
    
    if status == 'Fully Paid':
        # Fully Paid: 예정된 만기 동안 매월 동일한 installment 지급
        cash_flows = [-loan_amnt] + [row['installment']] * n_months
        monthly_irr = npf.irr(cash_flows)
        if monthly_irr is None or not isinstance(monthly_irr, (int, float)):
            return None
        return (1 + monthly_irr)**12 - 1
    
    elif status in ['Charged Off', 'Default']:
        # 지급 횟수 p를 total_pymnt와 installment로 근사
        installment = row['installment']
        total_pymnt = row['total_pymnt']
        if installment and installment != 0:
            # p가 소수점이 나올 수 있으므로 반올림 후 정수화
            p = int(round(total_pymnt / installment))
            p = max(p, 1)  # 최소 1회 이상 지급되었음을 보장
        else:
            p = int(n_months / 2)  # fallback
        
        # 현금흐름 구성:
        # 초기 현금흐름: 대출금 상환 (-loan_amnt)
        # 이후 p-1회는 installment 지급, 마지막 회차에는 installment와 recoveries 추가
        if p == 1:
            # 지급 횟수가 1회인 경우
            last_cf = installment
            if 'recoveries' in row and not pd.isna(row['recoveries']):
                last_cf += row['recoveries']
            cash_flows = [-loan_amnt, last_cf]
        else:
            cash_flows = [-loan_amnt] + [installment] * (p - 1)
            last_payment = installment
            if 'recoveries' in row and not pd.isna(row['recoveries']):
                last_payment += row['recoveries']
            cash_flows.append(last_payment)
        
        monthly_irr = npf.irr(cash_flows)
        if monthly_irr is None or not isinstance(monthly_irr, (int, float)):
            return None
        return (1 + monthly_irr)**12 - 1
    
    else:
        # 그 외 상태는 처리하지 않음
        return None

# 예시 적용: df_36와 df_60에 대해 실제 IRR 계산 (만기 36, 60개월)
df_36['actual_irr'] = df_36.apply(lambda row: calculate_actual_irr(row, 36), axis=1)
df_60['actual_irr'] = df_60.apply(lambda row: calculate_actual_irr(row, 60), axis=1)

# 결과 확인 예시
print("36개월 대출자의 실제 IRR (연환산):")
print(df_36[['loan_amnt', 'installment', 'total_pymnt', 'recoveries', 'loan_status', 'actual_irr']].head(20))

print("\n60개월 대출자의 실제 IRR (연환산):")
print(df_60[['loan_amnt', 'installment', 'total_pymnt', 'recoveries', 'loan_status', 'actual_irr']].head(20))

36개월 대출자의 실제 IRR (연환산):
      loan_amnt  installment   total_pymnt  recoveries  loan_status  \
47      10000.0       340.18  12208.077967        0.00   Fully Paid
123      5000.0       157.13   5113.365365        0.00   Fully Paid
164      6000.0       196.18   6766.699041        0.00   Fully Paid
238     15000.0       571.70   9128.990000        0.00  Charged Off
269     10875.0       369.00  11461.701101        0.00   Fully Paid
388     20000.0       684.24  21214.187225        0.00   Fully Paid
680      6600.0       217.05   6631.099500        0.00   Fully Paid
734      7000.0       210.81   7487.879097        0.00   Fully Paid
756     37225.0      1169.77   2305.670000        0.00  Charged Off
793     20000.0       743.17  12948.600000     1823.26  Charged Off
916     15000.0       463.64  16667.710000        0.00   Fully Paid
955     14000.0       458.74   2335.680000        0.00  Charged Off
967      1500.0        47.06   1655.691701        0.00   Fully Paid
981     35000.0      1153.17  41477.233554        0.00   Fully Paid
1201    14000.0       461.60  16446.453380        0.00   Fully Paid
1318     2000.0        70.46   1334.050000     1260.84  Charged Off
1465    10000.0       327.34  11770.239864        0.00   Fully Paid
1468     5800.0       174.67   6049.206857        0.00   Fully Paid
1530     5500.0       201.59   6938.680578        0.00   Fully Paid
1740    15600.0       543.16  17644.607533        0.00   Fully Paid

      actual_irr
47      0.145609
123     0.085090
164     0.114737
238    -0.480033
269     0.143575
388     0.150146
680     0.119166
734     0.054538
756    -1.000000
793    -0.311364
916     0.073042
955    -0.998007
967     0.083862
981     0.120599
1201    0.121152
1318    0.251597
1465    0.115609
1468    0.054534
1530    0.207374
1740    0.164328

60개월 대출자의 실제 IRR (연환산):
      loan_amnt  installment   total_pymnt  recoveries  loan_status  \
83      20000.0       557.51   8149.470000     2013.92  Charged Off
374     30000.0       690.15  32903.630670        0.00   Fully Paid
394     18000.0       418.74   6270.540000      422.17  Charged Off
1068    16800.0       352.34  20121.972964        0.00   Fully Paid
1186    17000.0       440.90  19321.678432        0.00   Fully Paid
1620    24000.0       573.99   4551.280000        0.00  Charged Off
2076    10200.0       248.70  10205.646667        0.00   Fully Paid
2368    20000.0       461.96  24851.397274        0.00   Fully Paid
2528    16525.0       544.23  15300.200000     4040.00  Charged Off
2870    12000.0       317.86  12547.786010        0.00   Fully Paid
3106    25000.0       555.99  31964.359939        0.00   Fully Paid
3139    12000.0       285.74  13874.112658        0.00   Fully Paid
3158    12000.0       285.80   2435.680000     1588.31  Charged Off
3169    12000.0       287.44  13606.057823        0.00   Fully Paid
3198    12000.0       279.16  15197.806123        0.00   Fully Paid
3246    30425.0       962.05   1826.740000        0.00  Charged Off
3435    19600.0       420.51  21244.238937        0.00   Fully Paid
3805    10000.0       232.64   4156.940000     1140.39  Charged Off
3875    12000.0       279.72  13373.513955        0.00   Fully Paid
4024    10000.0       230.57   5388.010000      100.00  Charged Off

      actual_irr
83     -0.542446
374     0.143568
394    -0.713948
1068    0.098595
1186    0.207337
1620   -0.976647
2076    0.173670
2368    0.145609
2528    0.115245
2870    0.219271
3106    0.126718
3139    0.161229
3158   -0.834928
3169    0.164322
3198    0.149234
3246   -1.000000
3435    0.109330
3805   -0.463063
3875    0.150257
4024   -0.427459

### 각 df에 국채 금리 칼럼 추가하기

In [30]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (0.10.0)
Requirement already satisfied: lxml in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from pandas_datareader) (5.3.1)
Requirement already satisfied: pandas>=0.23 in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from pandas_datareader) (2.1.4)
Requirement already satisfied: requests>=2.19.0 in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from pandas_datareader) (2.32.3)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2025.1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2025.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (2025.1.31)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/pycaret_env/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [41]:
import datetime
import pandas as pd
import numpy as np
from pandas_datareader import data as web
from dateutil.relativedelta import relativedelta

# ※ 가정: df_36와 df_60는 이미 로드되어 있고, 'issue_d' 컬럼은 '%b-%Y' (예: "Dec-2017") 형태의 문자열 또는 datetime으로 되어 있음
# 만약 'issue_d'가 datetime이라면, 매핑을 위해 문자열 형태로 변환합니다.
df_36['issue_d_str'] = df_36['issue_d'].apply(lambda x: x.strftime('%b-%Y') if isinstance(x, pd.Timestamp) else x)
df_60['issue_d_str'] = df_60['issue_d'].apply(lambda x: x.strftime('%b-%Y') if isinstance(x, pd.Timestamp) else x)

##############################################
# 1. 36개월 대출자 – DGS3 (3년물) 일별 데이터 중 평균값 활용
##############################################
df36_clean = df_36.dropna(subset=['issue_d_str']).copy()
issue_d_unique_36 = df36_clean['issue_d_str'].unique()

results_3yr = []
for val in issue_d_unique_36:
    try:
        # 문자열을 datetime으로 변환 (예: "Dec-2017")
        dt = datetime.datetime.strptime(val, '%b-%Y')
        # 해당 월의 시작일과 말일 구하기
        start_date_dt = dt.replace(day=1)
        end_date_dt = (start_date_dt + relativedelta(months=1)) - datetime.timedelta(days=1)
        
        # FRED에서 DGS3 데이터 읽기 (일별)
        df_3yr = web.DataReader('DGS3', 'fred', start_date_dt, end_date_dt)
        if df_3yr.empty or df_3yr['DGS3'].dropna().empty:
            avg_val = np.nan
        else:
            # 해당 달의 평균 금리 (무위험수익률로 활용)
            avg_val = df_3yr['DGS3'].dropna().mean() / 100
        
        results_3yr.append({
            "issue_d": val,
            "start_date": start_date_dt.strftime('%Y-%m-%d'),
            "end_date": end_date_dt.strftime('%Y-%m-%d'),
            "risk_free_rate": avg_val
        })
    except Exception as e:
        results_3yr.append({
            "issue_d": val,
            "start_date": None,
            "end_date": None,
            "risk_free_rate": np.nan
        })

# 월별 3년물 통계 DataFrame 생성 및 출력
df_3yr_stats = pd.DataFrame(results_3yr)
print("===== 3년물 (FRED: DGS3) 월별 평균 금리 =====")
print(df_3yr_stats)

# issue_d 기준으로 risk_free_rate 매핑
mapping_3yr = dict(zip(df_3yr_stats['issue_d'], df_3yr_stats['risk_free_rate']))
df_36['risk_free_rate'] = df_36['issue_d_str'].map(mapping_3yr)

===== 3년물 (FRED: DGS3) 월별 평균 금리 =====
     issue_d  start_date    end_date  risk_free_rate
0   May-2016  2016-05-01  2016-05-31        0.009719
1   Feb-2019  2019-02-01  2019-02-28        0.024816
2   Nov-2017  2017-11-01  2017-11-30        0.018076
3   May-2018  2018-05-01  2018-05-31        0.026573
4   May-2017  2017-05-01  2017-05-31        0.014836
5   Mar-2018  2018-03-01  2018-03-31        0.024219
6   Nov-2018  2018-11-01  2018-11-30        0.029075
7   Aug-2016  2016-08-01  2016-08-31        0.008539
8   Oct-2019  2019-10-01  2019-10-31        0.015282
9   Mar-2017  2017-03-01  2017-03-31        0.015857
10  Aug-2017  2017-08-01  2017-08-31        0.014783
11  Sep-2018  2018-09-01  2018-09-30        0.028374
12  Jun-2018  2018-06-01  2018-06-30        0.026452
13  Apr-2017  2017-04-01  2017-04-30        0.014421
14  Mar-2016  2016-03-01  2016-03-31        0.010382
15  Apr-2016  2016-04-01  2016-04-30        0.009186
16  Oct-2017  2017-10-01  2017-10-31        0.016829
17  Jul-2019  2019-07-01  2019-07-31        0.017986
18  Dec-2017  2017-12-01  2017-12-31        0.019550
19  Sep-2016  2016-09-01  2016-09-30        0.008976
20  Jan-2016  2016-01-01  2016-01-31        0.011400
21  Jul-2017  2017-07-01  2017-07-31        0.015440
22  Jun-2016  2016-06-01  2016-06-30        0.008605
23  Feb-2017  2017-02-01  2017-02-28        0.014721
24  Jan-2017  2017-01-01  2017-01-31        0.014790
25  Jan-2018  2018-01-01  2018-01-31        0.021467
26  Aug-2019  2019-08-01  2019-08-31        0.015068
27  Jun-2019  2019-06-01  2019-06-30        0.017750
28  Nov-2016  2016-11-01  2016-11-30        0.012195
29  Jun-2017  2017-06-01  2017-06-30        0.014864
30  Jul-2018  2018-07-01  2018-07-31        0.026957
31  Sep-2017  2017-09-01  2017-09-30        0.015130
32  Feb-2016  2016-02-01  2016-02-29        0.008965
33  Nov-2019  2019-11-01  2019-11-30        0.016121
34  Oct-2016  2016-10-01  2016-10-31        0.009890
35  Feb-2018  2018-02-01  2018-02-28        0.023563
36  Dec-2018  2018-12-01  2018-12-31        0.026716
37  May-2019  2019-05-01  2019-05-31        0.021627
38  Aug-2018  2018-08-01  2018-08-31        0.027096
39  Apr-2018  2018-04-01  2018-04-30        0.025224
40  Jul-2016  2016-07-01  2016-07-31        0.007945
41  Apr-2019  2019-04-01  2019-04-30        0.023086
42  Dec-2016  2016-12-01  2016-12-31        0.014948
43  Jan-2019  2019-01-01  2019-01-31        0.025210
44  Oct-2018  2018-10-01  2018-10-31        0.029359
45  Dec-2019  2019-12-01  2019-12-31        0.016338
46  Mar-2019  2019-03-01  2019-03-31        0.023662
47  Jan-2020  2020-01-01  2020-01-31        0.015181
48  Dec-2015  2015-12-01  2015-12-31        0.012805
49  Sep-2019  2019-09-01  2019-09-30        0.015885
50  Apr-2020  2020-04-01  2020-04-30        0.002795
51  Mar-2020  2020-03-01  2020-03-31        0.005036

In [42]:
##############################################
# 2. 60개월 대출자 – DGS5 (5년물) 일별 데이터 중 평균값 활용
##############################################
df60_clean = df_60.dropna(subset=['issue_d_str']).copy()
issue_d_unique_60 = df60_clean['issue_d_str'].unique()

results_5yr = []
for val in issue_d_unique_60:
    try:
        dt = datetime.datetime.strptime(val, '%b-%Y')
        start_date_dt = dt.replace(day=1)
        end_date_dt = (start_date_dt + relativedelta(months=1)) - datetime.timedelta(days=1)
        
        # FRED에서 DGS5 데이터 읽기 (일별)
        df_5yr = web.DataReader('DGS5', 'fred', start_date_dt, end_date_dt)
        if df_5yr.empty or df_5yr['DGS5'].dropna().empty:
            avg_val = np.nan
        else:
            # 해당 달의 평균 금리 (무위험수익률로 활용)
            avg_val = df_5yr['DGS5'].dropna().mean() / 100
        
        results_5yr.append({
            "issue_d": val,
            "start_date": start_date_dt.strftime('%Y-%m-%d'),
            "end_date": end_date_dt.strftime('%Y-%m-%d'),
            "risk_free_rate": avg_val
        })
    except Exception as e:
        results_5yr.append({
            "issue_d": val,
            "start_date": None,
            "end_date": None,
            "risk_free_rate": np.nan
        })

# 월별 5년물 통계 DataFrame 생성 및 출력
df_5yr_stats = pd.DataFrame(results_5yr)
print("===== 5년물 (FRED: DGS5) 월별 평균 금리 =====")
print(df_5yr_stats)

# issue_d 기준으로 risk_free_rate 매핑
mapping_5yr = dict(zip(df_5yr_stats['issue_d'], df_5yr_stats['risk_free_rate']))
df_60['risk_free_rate'] = df_60['issue_d_str'].map(mapping_5yr)

===== 5년물 (FRED: DGS5) 월별 평균 금리 =====
     issue_d  start_date    end_date  risk_free_rate
0   Mar-2016  2016-03-01  2016-03-31        0.013759
1   Mar-2017  2017-03-01  2017-03-31        0.020135
2   Jul-2016  2016-07-01  2016-07-31        0.010715
3   Jun-2017  2017-06-01  2017-06-30        0.017741
4   Aug-2016  2016-08-01  2016-08-31        0.011330
5   Jun-2019  2019-06-01  2019-06-30        0.018250
6   Jan-2020  2020-01-01  2020-01-31        0.015624
7   May-2017  2017-05-01  2017-05-31        0.018368
8   Nov-2016  2016-11-01  2016-11-30        0.015960
9   Feb-2018  2018-02-01  2018-02-28        0.025995
10  Nov-2017  2017-11-01  2017-11-30        0.020500
11  Feb-2016  2016-02-01  2016-02-29        0.012220
12  Jun-2016  2016-06-01  2016-06-30        0.011664
13  Mar-2019  2019-03-01  2019-03-31        0.023729
14  Aug-2017  2017-08-01  2017-08-31        0.017765
15  Sep-2017  2017-09-01  2017-09-30        0.017975
16  Sep-2018  2018-09-01  2018-09-30        0.028937
17  Mar-2018  2018-03-01  2018-03-31        0.026295
18  Jul-2017  2017-07-01  2017-07-31        0.018720
19  Sep-2016  2016-09-01  2016-09-30        0.011781
20  Jun-2018  2018-06-01  2018-06-30        0.027757
21  Jan-2017  2017-01-01  2017-01-31        0.019165
22  Feb-2017  2017-02-01  2017-02-28        0.019016
23  May-2019  2019-05-01  2019-05-31        0.021877
24  Apr-2019  2019-04-01  2019-04-30        0.023333
25  Aug-2018  2018-08-01  2018-08-31        0.027678
26  Dec-2016  2016-12-01  2016-12-31        0.019590
27  Dec-2017  2017-12-01  2017-12-31        0.021820
28  Jan-2016  2016-01-01  2016-01-31        0.015184
29  Jan-2018  2018-01-01  2018-01-31        0.023819
30  Dec-2015  2015-12-01  2015-12-31        0.016986
31  Jul-2018  2018-07-01  2018-07-31        0.027776
32  Oct-2016  2016-10-01  2016-10-31        0.012720
33  Jan-2019  2019-01-01  2019-01-31        0.025362
34  Feb-2019  2019-02-01  2019-02-28        0.024879
35  Apr-2017  2017-04-01  2017-04-30        0.018242
36  Oct-2017  2017-10-01  2017-10-31        0.019810
37  Oct-2018  2018-10-01  2018-10-31        0.030005
38  Sep-2019  2019-09-01  2019-09-30        0.015650
39  Apr-2016  2016-04-01  2016-04-30        0.012581
40  Dec-2018  2018-12-01  2018-12-31        0.026816
41  May-2018  2018-05-01  2018-05-31        0.028168
42  Apr-2018  2018-04-01  2018-04-30        0.027019
43  May-2016  2016-05-01  2016-05-31        0.013005
44  Nov-2018  2018-11-01  2018-11-30        0.029470
45  Nov-2019  2019-11-01  2019-11-30        0.016395
46  Aug-2019  2019-08-01  2019-08-31        0.014868
47  Jul-2019  2019-07-01  2019-07-31        0.018282
48  Dec-2019  2019-12-01  2019-12-31        0.016824

### Sharpe ratio 구해보기

#### 회사 전체의 sharpe ratio와 수익률

In [43]:
import numpy as np
import pandas as pd

# 1. 36개월, 60개월 대출 데이터를 하나로 통합 (실제 IRR, 무위험수익률, loan_amnt 등 필요한 칼럼이 존재한다고 가정)
df_all = pd.concat([df_36, df_60], ignore_index=True)

# 2. 각 대출별 초과수익률 계산: actual_irr - risk_free_rate
df_all['excess_return'] = df_all['actual_irr'] - df_all['risk_free_rate']

# 3. 가중 표준편차 계산 함수 정의 (가중치는 loan_amnt 사용)
def weighted_std(values, weights):
    weighted_mean = np.sum(values * weights) / np.sum(weights)
    variance = np.sum(weights * (values - weighted_mean)**2) / np.sum(weights)
    return np.sqrt(variance)

# 4. 가중 평균 초과수익률 계산
weighted_avg_excess = np.sum(df_all['loan_amnt'] * df_all['excess_return']) / np.sum(df_all['loan_amnt'])

# 5. 가중 표준편차 계산
w_std = weighted_std(df_all['excess_return'], df_all['loan_amnt'])

# 6. Sharpe Ratio 계산
sharpe_ratio = weighted_avg_excess / w_std

print("Company Sharpe Ratio:", sharpe_ratio)

# df_all은 앞서 df_36와 df_60를 통합한 DataFrame입니다.
company_return = (df_all['loan_amnt'] * df_all['actual_irr']).sum() / df_all['loan_amnt'].sum()

print("Company Weighted Average Actual IRR: {:.4f}".format(company_return))

Company Sharpe Ratio: -0.06457479569660642
Company Weighted Average Actual IRR: -0.0041

#### 대출 만기별 수익률과 sharpe ratio 구하기

In [44]:
import numpy as np
import pandas as pd

# 1. 36개월 대출자 전체의 가중 평균 실제 IRR 계산
weighted_avg_actual_irr_36 = (df_36['loan_amnt'] * df_36['actual_irr']).sum() / df_36['loan_amnt'].sum()
print("36개월 대출자 Weighted Average Actual IRR: {:.4f}".format(weighted_avg_actual_irr_36))

# 2. 60개월 대출자 전체의 가중 평균 실제 IRR 계산
weighted_avg_actual_irr_60 = (df_60['loan_amnt'] * df_60['actual_irr']).sum() / df_60['loan_amnt'].sum()
print("60개월 대출자 Weighted Average Actual IRR: {:.4f}".format(weighted_avg_actual_irr_60))

# 3. 초과수익률(실제 IRR - 무위험수익률) 계산
df_36['excess_return'] = df_36['actual_irr'] - df_36['risk_free_rate']
df_60['excess_return'] = df_60['actual_irr'] - df_60['risk_free_rate']

# 4. 가중 표준편차 계산 함수 (대출금액을 가중치로 사용)
def weighted_std(values, weights):
    weighted_mean = np.sum(values * weights) / np.sum(weights)
    variance = np.sum(weights * (values - weighted_mean)**2) / np.sum(weights)
    return np.sqrt(variance)

# 5. 36개월 대출자 초과수익률의 가중 평균 및 가중 표준편차 계산
weighted_avg_excess_36 = (df_36['loan_amnt'] * df_36['excess_return']).sum() / df_36['loan_amnt'].sum()
w_std_excess_36 = weighted_std(df_36['excess_return'], df_36['loan_amnt'])
sharpe_ratio_36 = weighted_avg_excess_36 / w_std_excess_36

# 6. 60개월 대출자 초과수익률의 가중 평균 및 가중 표준편차 계산
weighted_avg_excess_60 = (df_60['loan_amnt'] * df_60['excess_return']).sum() / df_60['loan_amnt'].sum()
w_std_excess_60 = weighted_std(df_60['excess_return'], df_60['loan_amnt'])
sharpe_ratio_60 = weighted_avg_excess_60 / w_std_excess_60

print("36개월 대출자 Sharpe Ratio: {:.4f}".format(sharpe_ratio_36))
print("60개월 대출자 Sharpe Ratio: {:.4f}".format(sharpe_ratio_60))

36개월 대출자 Weighted Average Actual IRR: 0.0151
60개월 대출자 Weighted Average Actual IRR: -0.0457
36개월 대출자 Sharpe Ratio: -0.0015
60개월 대출자 Sharpe Ratio: -0.1652

### (향후 적용) 부도예측 모델 시행 이후 수익률과 sharpe ratio 구하기

In [45]:
import numpy as np
import pandas as pd

# --- 1. 전체 포트폴리오 (df_all)는 이미 df_36와 df_60를 합친 상태라고 가정 ---
# 예) df_all = pd.concat([df_36, df_60], ignore_index=True)

# --- 2. 우리 모델의 투자 결정에 따른 수익률 할당 ---
# 만약 pred_default == 1이면 실제 대출 투자 -> actual_irr 사용
# 만약 pred_default == 0이면 투자하지 않음 -> 해당 대출 실행 시 무위험수익률(risk_free_rate) 사용
df_all['model_return'] = df_all.apply(
    lambda row: row['actual_irr'] if row['predicted_y'] == 1 else row['risk_free_rate'],
    axis=1
)

# --- 3. 모델 포트폴리오의 가중 평균 수익률 계산 ---
weighted_avg_model_return = (df_all['loan_amnt'] * df_all['model_return']).sum() / df_all['loan_amnt'].sum()
print("모델 포트폴리오 Weighted Average Return: {:.4f}".format(weighted_avg_model_return))

# --- 4. 초과수익률 계산 --- 
# 각 대출별로 (model_return - risk_free_rate)를 계산합니다.
# (즉, pred_default==1 인 경우에는 actual_irr - risk_free_rate, pred_default==0 인 경우에는 0)
df_all['excess_return_model'] = df_all['model_return'] - df_all['risk_free_rate']

# --- 5. 가중 표준편차 계산 함수 (대출금액을 가중치로 사용) ---
def weighted_std(values, weights):
    weighted_mean = np.sum(values * weights) / np.sum(weights)
    variance = np.sum(weights * (values - weighted_mean)**2) / np.sum(weights)
    return np.sqrt(variance)

# 모델 포트폴리오의 가중 평균 초과수익률
weighted_avg_excess_model = (df_all['loan_amnt'] * df_all['excess_return_model']).sum() / df_all['loan_amnt'].sum()

# 모델 포트폴리오의 가중 표준편차 계산
w_std_excess_model = weighted_std(df_all['excess_return_model'], df_all['loan_amnt'])

# --- 6. 모델 포트폴리오 Sharpe Ratio 계산 ---
# (초과수익률의 가중 평균 / 가중 표준편차)
sharpe_ratio_model = weighted_avg_excess_model / w_std_excess_model

print("모델 포트폴리오 Sharpe Ratio: {:.4f}".format(sharpe_ratio_model))

모델 포트폴리오 Weighted Average Return: 0.0854
모델 포트폴리오 Sharpe Ratio: 0.4166

In [46]:
import numpy as np
import pandas as pd

# --- 1. 기존 렌딩클럽 전략 (전체 포트폴리오) ---
# df_all: df_all = pd.concat([df_36, df_60], ignore_index=True) 로 전체 포트폴리오가 구성되어 있다고 가정

# 각 대출의 초과수익률 계산 (actual_irr - risk_free_rate)
df_all['excess_return'] = df_all['actual_irr'] - df_all['risk_free_rate']

# 가중 평균 실제 IRR 계산 (대출금액을 가중치로 사용)
weighted_avg_actual_irr_orig = (df_all['loan_amnt'] * df_all['actual_irr']).sum() / df_all['loan_amnt'].sum()

# 가중 평균 초과수익률 계산
weighted_avg_excess_orig = (df_all['loan_amnt'] * df_all['excess_return']).sum() / df_all['loan_amnt'].sum()

# 가중 표준편차 계산 함수 (대출금액을 가중치로 사용)
def weighted_std(values, weights):
    weighted_mean = np.sum(values * weights) / np.sum(weights)
    variance = np.sum(weights * (values - weighted_mean)**2) / np.sum(weights)
    return np.sqrt(variance)

w_std_excess_orig = weighted_std(df_all['excess_return'], df_all['loan_amnt'])

# 기존 전략의 Sharpe Ratio 계산
sharpe_ratio_orig = weighted_avg_excess_orig / w_std_excess_orig

# --- 2. 우리 모델 전략 ---
# 우리 모델에서는 부도예측 모형 결과가 이진 변수일 때, 
# pred_default == 1이면 해당 대출에 투자(실제 IRR 적용), 
# pred_default == 0이면 투자하지 않고 무위험수익률(risk_free_rate)을 적용한다고 가정합니다.
df_all['model_return'] = df_all.apply(
    lambda row: row['actual_irr'] if row['predicted_y'] == 1 else row['risk_free_rate'],
    axis=1
)

# 우리 모델 전략의 가중 평균 수익률 계산
weighted_avg_model_return = (df_all['loan_amnt'] * df_all['model_return']).sum() / df_all['loan_amnt'].sum()

# 우리 모델 전략의 초과수익률 계산 (model_return - risk_free_rate)
df_all['excess_return_model'] = df_all['model_return'] - df_all['risk_free_rate']
weighted_avg_excess_model = (df_all['loan_amnt'] * df_all['excess_return_model']).sum() / df_all['loan_amnt'].sum()
w_std_excess_model = weighted_std(df_all['excess_return_model'], df_all['loan_amnt'])
sharpe_ratio_model = weighted_avg_excess_model / w_std_excess_model

# --- 3. 비교 출력 ---
print("== 기존 렌딩클럽 전략 ==")
print("Weighted Average Actual IRR: {:.4f}".format(weighted_avg_actual_irr_orig))
print("Sharpe Ratio: {:.4f}".format(sharpe_ratio_orig))

print("\n== 우리 모델 ==")
print("Weighted Average Return (model): {:.4f}".format(weighted_avg_model_return))
print("Sharpe Ratio (model): {:.4f}".format(sharpe_ratio_model))

# 옵션: 테이블 형식으로 비교 출력
comparison_df = pd.DataFrame({
    "Strategy": ["Original", "Our Model"],
    "Weighted Average Return": [weighted_avg_actual_irr_orig, weighted_avg_model_return],
    "Sharpe Ratio": [sharpe_ratio_orig, sharpe_ratio_model]
})
print("\n--- 전략 비교 ---")
print(comparison_df)

== 기존 렌딩클럽 전략 ==
Weighted Average Actual IRR: -0.0041
Sharpe Ratio: -0.0646

== 우리 모델 ==
Weighted Average Return (model): 0.0854
Sharpe Ratio (model): 0.4166

--- 전략 비교 ---
    Strategy  Weighted Average Return  Sharpe Ratio
0   Original                -0.004080     -0.064575
1  Our Model                 0.085408      0.416647